@charset "utf-8";
/*
* ★★CSS for smartphone
*
* @date 2013.06.17
* @author HeChengHao
*/

/* -- Reset -- */
ul,li,dl,dt,dd{ list-style:none;}
#contentsArea {background:#fff;word-wrap:break-word;}
#contentsArea .htlBox h2,#contentsArea .htlBox h2:visited{color:#000;line-height:130%;font-size:88%;}
#contentsArea a:visited:hover,#contentsArea a:link:hover,#contentsArea a:visited:active,#contentsArea a:link:active{text-decoration:none;}

/* -- *???* -- */
#contentsArea #contents.column1{ padding:15px 0; background:#fff;}

/* -- Top -- */
#keyVisual {margin-bottom:0; line-height:0;}
#contentsArea #pageTab{margin:5px 0 0;}
#contentsArea #pageTab span{display:block; font-size:12px;}
#widewrapper #contentsArea #pageTab .tab6{margin-bottom:5px; margin-left:3%;}
#widewrapper #contentsArea #pageTab .tab6 li{ margin:1% 1% 0 0; width:48%;}
#widewrapper #contentsArea #pageTab .tab6 a{ padding:15px 0; border-radius:5px; font-weight:bold; font-size:14px;}
#widewrapper #contentsArea #pageTab .tab6 a em{font-size:18px; font-style:normal; height:auto; display:inline;}
#contentsArea .color1 a{background:#87cefa;color:#0065d9; line-height:30px; height:30px;}
#contentsArea .color1 a:hover,#contentsArea .color1 a:active{ color:#0065d9; opacity:.7;}
#contentsArea .color2 a{background:#87cefa;color:#0065d9; line-height:30px; height:30px;}
#contentsArea .color2 a:hover,#contentsArea .color2 a:active{ color:#0065d9; opacity:.7;}
#contentsArea .color3 a{background:#87cefa;color:#0065d9; line-height:30px; height:30px;}
#contentsArea .color3 a:hover,#contentsArea .color3 a:active{ color:#0065d9; opacity:.7;}
#contentsArea .color4 a{background:#87cefa;color:#0065d9; line-height:30px; height:30px;}
#contentsArea .color4 a:hover,#contentsArea .color3 a:active{ color:#0065d9; opacity:.7;}
#contentsArea .color5 a{background:#87cefa;color:#0065d9; line-height:1.1; height:30px; white-space:nowrap;}
#contentsArea .color5 a:hover,#contentsArea .color3 a:active{ color:#0065d9; opacity:.7;}
#contentsArea .color6 a{background:#87cefa;color:#0065d9; line-height:30px; height:30px;}
#contentsArea .color6 a:hover,#contentsArea .color3 a:active{ color:#0065d9; opacity:.7;}

#contents .pagetop{text-decoration:underline;}
#contents .pagetop:hover,#widewrapper #contentsArea .gotop:hover{ text-decoration:none;}

.pc{ display:none;}
.sp,.sp img{ width:100%;}

/* -- hotel -- */
#contentsArea .hotels{ background:#fafaec; overflow:hidden;}
#contentsArea .htlBox{ margin:10px 8px;}
#contentsArea .htlBox .basic{ border:none;}
#contentsArea .htlBox .area{line-height:1.4; margin:0; padding: 7px 7px 5px; color:#fff;}
#contentsArea .htlBox .chara li{ white-space:normal; margin:0 3px 5px 0;}
#contentsArea .htlBox .plan li{ padding:8px;border-radius:3px;}
#contentsArea .htlBox .plan li .price{text-align:center;font-size:82%;}
#contentsArea .htlBox .plan li .price span{color: #cc0000;}
#contentsArea .htlBox .plan li .price span em{font-size: 140%;font-weight: bold;}
#contentsArea .htlBox .btn li a span{ font-size:74%; display:block;}
#contentsArea .htlBox .rate a span{ line-height:1.5;}
#contentsArea .htlBox .btn .time a:hover,#contentsArea .htlBox .btn .time a:active{ opacity:.7}
.titlew{color:#fff; font-weight:bold; text-align:center;padding:5px 0;}
.hotels .titlew, .hotels .htlBox .area{background:#51a5ff;}
.hotels .htlBox, .hotels .htlBox .plan li{border:1px solid #51a5ff;}
.hotels .htlBox .btn li a{background-color: #2975c7;background-image: -webkit-linear-gradient(top, #51a5ff, #2975c7);background-image:linear-gradient(to bottom, #51a5ff, #2975c7); line-height:1.4; border:1px solid #2975c7;}


/*---0319---*/
.htlBox .photo{
	width:50%;
}
.column1 .htlBox2 .btn .bus_price{
	width:29%;
}
#contentsArea .hotels .htlBox .btn .bus_price a{
	background: #fff !important; 
	line-height:1.4; color:#2975c7; 
	border:1px solid #2975c7; 
	font-weight:bold;
	cursor:default;
	z-index:0;
}

.column1 .htlBox2 .btn .time{
	width:23%;
}
.column1 .htlBox2 .btn .time a:hover{
	text-decoration:none;
	opacity:1;
}
.htlBox .btn li:nth-child(2n) a{
	margin-right:0;
}