@charset "utf-8";
/*
* ★★CSS for PC
*
* @date 2013.06.17
* @author HeChengHao
*/

/* -- Reset -- */
ul,li,dl,dt,dd{ list-style:none;}
#contentsArea {font-family: 'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;background:#fff;word-wrap:break-word;}
#contentsArea .htlBox h2,#contentsArea .htlBox h2:visited{color:#000;line-height:130%;font-size:88%;}
#contentsArea a:visited:hover,#contentsArea a:link:hover,#contentsArea a:visited:active,#contentsArea a:link:active{text-decoration:none;}

/* -- *???* -- */
#contentsArea #contents.column1{width:950px; padding:15px 0; background:#fff;}

/* -- Top -- */
#keyVisual {margin-bottom:15px; line-height:0;}
#keyVisual h1{ height:230px; background:url(https://img.travel.rakuten.co.jp/bus/special/usj/images/keyvisual.jpg) no-repeat;}
#contentsArea #pageTab{margin:5px 0 0;}
#contentsArea #pageTab span{display:block; font-size:12px;}
#widewrapper #contentsArea #pageTab .tab6{border-bottom:5px solid #87cefa;}
#widewrapper #contentsArea #pageTab .tab6 a{ padding:10px 0; border-radius:5px 5px 0 0; font-weight:bold; font-size:14px;}
#widewrapper #contentsArea #pageTab .tab6 a em{font-size:18px; font-style:normal; height:auto; display:inline;}
#contentsArea .color1 a{background:#87cefa;color:#0065d9; line-height:34px; height:34px;}
#contentsArea .color1 a:hover,#contentsArea .color1 a:active{ color:#0065d9; opacity:.7;}
#contentsArea .color2 a{background:#87cefa;color:#0065d9; line-height:34px; height:34px;}
#contentsArea .color2 a:hover,#contentsArea .color2 a:active{ color:#0065d9; opacity:.7;}
#contentsArea .color3 a{background:#87cefa;color:#0065d9; line-height:34px; height:34px;}
#contentsArea .color3 a:hover,#contentsArea .color3 a:active{ color:#0065d9; opacity:.7;}
#contentsArea .color4 a{background:#87cefa;color:#0065d9; line-height:34px; height:34px;}
#contentsArea .color4 a:hover,#contentsArea .color3 a:active{ color:#0065d9; opacity:.7;}
#contentsArea .color5 a{background:#87cefa;color:#0065d9; line-height:1.2; height:34px; letter-spacing:-1px;}
#contentsArea .color5 a:hover,#contentsArea .color3 a:active{ color:#0065d9; opacity:.7;}
#contentsArea .color6 a{background:#87cefa;color:#0065d9; line-height:34px; height:34px;}
#contentsArea .color6 a:hover,#contentsArea .color3 a:active{ color:#0065d9; opacity:.7;}

#contents .pagetop{text-decoration:underline;}
#contents .pagetop:hover,#widewrapper #contentsArea .gotop:hover{ text-decoration:none;}

.sp{ display:none;}

/* -- hotel -- */
#contentsArea .hotels{width:942px; margin:0 auto 20px; background:#fafaec;}
#contentsArea .htlBox{ margin:10px 8px;}
#contentsArea .htlBox .area{line-height:1.4;}
#contentsArea .htlBox .chara li{ white-space:normal;}
#contentsArea .htlBox .photo{ float:left; padding: 1% 25% 2%; width: 50%;}
#contentsArea .htlBox .plan{ float:left; width:55%; margin:0 1%;}
#contentsArea .htlBox .plan li{ padding:8px;border-radius:3px;}
#contentsArea .htlBox .plan li .price{text-align:center;font-size:82%;}
#contentsArea .htlBox .plan li .price span{color: #cc0000;}
#contentsArea .htlBox .plan li .price span em{font-size: 140%;font-weight: bold;}
#contentsArea .htlBox .btn{ clear:both; overflow:hidden;}
#contentsArea .htlBox .btn li a span{ font-size:74%; display:block;}
#contentsArea .htlBox .btn .time a:hover,#contentsArea .htlBox .btn .time a:active{ opacity:.7}
.titlew{color:#fff; font-weight:bold; text-align:center;padding:12px 0; font-size:120%;}
.hotels .titlew, .hotels .htlBox .area{background:#51a5ff;}
.hotels .htlBox, .hotels .htlBox .plan li{border:1px solid #51a5ff;}
.hotels .htlBox .btn li a{background-color: #2975c7;background-image: -webkit-linear-gradient(top, #51a5ff, #2975c7);background-image:linear-gradient(to bottom, #51a5ff, #2975c7); line-height:1.4; border:1px solid #2975c7;}
#PART5 .titlew span{font-size:78%;}


/*---0319---*/
.column1 .htlBox2 .btn .bus_price{
	width:139px;
}
#contentsArea .hotels .htlBox .btn .bus_price a{
	background: #fff !important; 
	line-height:1.4; color:#2975c7; 
	border:1px solid #2975c7; 
	font-weight:bold;
	cursor:default;
	z-index:0;
}

.column1 .htlBox2 .btn .time{
	width:90px;
}
.column1 .htlBox2 .btn .bus_price a:hover{
	text-decoration:none;
}
div#grpLocationArea{
	margin:15px 0;
}